// Your variable overrides

$theme-primary: #084C61;
$theme-info: #4F6D7A;
$theme-success: #56A3A6;
$theme-danger: #DB504A;
$theme-warning: #E3B505;

$color-step: 1%;
/*
$clr-color-action-50: lighten($theme-primary, $color-step * 5) !default;
$clr-color-action-100: lighten($theme-primary, $color-step * 4) !default;
$clr-color-action-200: lighten($theme-primary, $color-step * 3) !default;
$clr-color-action-300: lighten($theme-primary, $color-step * 2) !default;
$clr-color-action-400: lighten($theme-primary, $color-step * 1) !default;
$clr-color-action-500: $theme-primary !default;
$clr-color-action-600: darken($theme-primary, $color-step * 1) !default;
$clr-color-action-700: darken($theme-primary, $color-step * 2) !default;
$clr-color-action-800: darken($theme-primary, $color-step * 3) !default;
$clr-color-action-900: darken($theme-primary, $color-step * 4) !default;
$clr-color-action-1000: darken($theme-primary, $color-step * 5) !default;
*/
