<div class="player-info" [formGroup]="playerInfoForm">
  <mat-form-field>
    <mat-label>Player Name</mat-label>
    <input matInput type="text" formControlName="name" />
    @if (playerInfoForm.controls.name.hasError('required')) {
      <mat-error>Player name is required</mat-error>
    }
  </mat-form-field>

  <div class="st-field" [class.is-error]="showColorPickerError()">
    <span id="player-color-label" class="st-field-label">Player Color</span>
    <st-color-picker formControlName="color" aria-labelledby="player-color-label"></st-color-picker>
    @if (showColorPickerError()) {
      <mat-error>Player color is required</mat-error>
    }
  </div>
</div>
