<div class="saved-players-list">
  <button type="button"
          matButton="filled"
          class="add-button"
          [disabled]="adding()"
          (click)="onAdd()">
    <fa-icon icon="plus"/>
    Add Player
  </button>

  @if (adding()) {
    <mat-card appearance="outlined" class="player-card">
      <ng-container [ngTemplateOutlet]="editForm"/>
    </mat-card>
  }

  @for (player of savedPlayerService.savedPlayers(); track player.playerPreferenceId) {
    <mat-card appearance="outlined" class="player-card" [stPlayerColor]="player.color">
      @if (editingId() === player.playerPreferenceId) {
        <ng-container [ngTemplateOutlet]="editForm"/>
      } @else {
        <div class="player-card-body">
          <st-color-swatch [color]="player.color"/>
          <span class="player-name">{{ player.name }}</span>
          <button matIconButton
                  type="button"
                  [attr.aria-label]="'Edit ' + player.name"
                  (click)="onEdit(player)">
            <fa-icon icon="pen"/>
          </button>
          <button matIconButton
                  type="button"
                  [attr.aria-label]="'Delete ' + player.name"
                  (click)="onDelete(player)">
            <fa-icon icon="trash-can"/>
          </button>
        </div>
      }
    </mat-card>
  } @empty {
    <p class="empty-message">No saved players yet.</p>
  }
</div>

<ng-template #editForm>
  <form [@formAnimation] [formGroup]="playerForm" class="player-card-edit" autocomplete="off">
    <st-player-info formControlName="player"/>
    <div class="edit-actions">
      <button type="button" matButton="filled" (click)="save()">
        <fa-icon icon="floppy-disk"/>
        Save
      </button>
      <button type="button" matButton (click)="cancel()">
        <fa-icon icon="xmark"/>
        Cancel
      </button>
    </div>
  </form>
</ng-template>
