.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-count-form {
  display: flex;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all 400ms ease;

  .card {
    margin: .5rem;
    width: auto;
    overflow: hidden;
  }
}
