<div class="game-wrapper">
  @if (gameService.currentPlayer(); as player) {
    <st-player-score [player]="player" (score)="gameService.addScore($event)"/>
  }

  <st-per-round-score-table class="score-wrapper"/>
</div>

<div class="chart-tabs-wrapper">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon icon="chart-line"></fa-icon>
        Line Chart
      </ng-template>
      <ng-template matTabContent>
        <st-per-round-score-line-chart/>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon icon="chart-bar"></fa-icon>
        Bar Chart
      </ng-template>
      <ng-template matTabContent>
        <st-per-round-score-bar-chart/>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
