.game-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  st-player-score {
    //width: 275px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  st-per-round-score-table {
    margin: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
