<button class="btn btn-link btn-block" *ngIf="trimmedTable()" (click)="showAllRounds = !showAllRounds">
  <span *ngIf="!showAllRounds">Expand All Rounds <clr-icon shape="caret up"></clr-icon></span>
  <span *ngIf="showAllRounds">Show Fewer Rounds <clr-icon shape="caret down"></clr-icon></span>
</button>
<table class="table table-compact table-vertical">
  <tbody>
    <tr>
      <th>Round</th>
      <th class="text-center" *ngFor="let playerName of gameService.playerList">{{playerName}}</th>
    </tr>
    <ng-container *ngFor="let round of gameService.roundList; let roundIndex = index">
      <tr *ngIf="showRound(roundIndex)">
        <th>{{round}}</th>
        <td *ngFor="let playerScores of gameService.scoreList" class="text-center">
        <span *ngIf="playerScores.hasScoreForRound(roundIndex)">
          <button class="btn btn-icon btn-link btn-sm score-button" (click)="editScore(playerScores.player, roundIndex)">
            {{playerScores.roundScore(roundIndex)}}
          </button>
        </span>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <td class="text-center" *ngFor="let playerScores of gameService.scoreList">{{playerScores.total()}}</td>
    </tr>
  </tfoot>
</table>
