<form class="player-count-form" [formGroup]="playerCountForm">
  <h1>Select Player Count:</h1>
  <st-number-picker formControlName="playerCount"></st-number-picker>
</form>

<form [formGroup]="playerInfoForm" clrForm clrLayout="vertical" autocomplete="off">
  <div class="card-wrapper">
    @for (player of playerInfo(); track player.playerNumber; let i = $index) {
      <div class="card" [@inOutAnimation]>
        <div class="card-header">
          Player #{{ player.playerNumber }}
          @if (playersFormArray.controls[i].valid) {
            <cds-icon shape="success-standard" status="success"></cds-icon>
          } @else {
            <cds-icon shape="error-standard" status="warning"></cds-icon>
          }
        </div>
        <div class="card-block">
          <st-saved-player-select (selectPlayer)="populatePlayer(i, $event)"></st-saved-player-select>
          <st-player-info
            [playerInfo]="player"
            [formControl]="playersFormArray.controls[i]"
          ></st-player-info>
        </div>
      </div>
    }
  </div>

  @for (error of formErrors(); track error) {
    <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false">{{ error }}</clr-alert>
  }

  @if (playerInfo().length > 0) {
    <button type="button" class="btn btn-success btn-block" (click)="submitForm()">
      Start Game
    </button>
  }
</form>
