<form class="player-count" [formGroup]="playerCountForm">
  <span class="player-count-label">Number of Players</span>
  <st-number-picker formControlName="playerCount"></st-number-picker>
</form>

<form [formGroup]="playerInfoForm" autocomplete="off">
  <div class="player-list">
    @for (player of playerInfo(); track player.playerNumber; let i = $index) {
      <div class="player-row" [stPlayerColor]="rowColors()[i] ?? undefined" [@inOutAnimation]>
        <span class="player-badge">{{ player.playerNumber }}</span>
        <st-player-info class="player-row-info"
                        [playerInfo]="player"
                        [allowImport]="true"
                        [formControl]="playersFormArray.controls[i]"></st-player-info>
      </div>
    }
  </div>

  @if (formErrors().length) {
    <div class="st-field-error form-errors" role="alert">
      @for (error of formErrors(); track error) {
        <mat-error>{{ error }}</mat-error>
      }
    </div>
  }

  @if (playerInfo().length > 0) {
    <button type="button" matButton="filled" class="start-game" (click)="submitForm()">
      Start Game
    </button>
  }
</form>
