<mat-form-field class="color-picker" subscriptSizing="dynamic">
  <mat-label>Color</mat-label>
  <mat-select [value]="selectedColor()"
              [compareWith]="compareColors"
              [disabled]="disabled()"
              (selectionChange)="selectColor($event.value)"
              panelClass="color-picker-panel"
              aria-label="Player color">
    <mat-select-trigger>
      @if (selectedColor()) {
        <st-color-swatch [color]="selectedColor()!"></st-color-swatch>
      }
    </mat-select-trigger>
    @for (color of playerColors; track color.hexString()) {
      <mat-option [value]="color">
      <span class="color-option">
        <st-color-swatch [color]="color"></st-color-swatch>
        <span class="color-option-name">{{ color.name }}</span>
      </span>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
