<div class="number-picker-wrapper">
  <h1 class="number-display" [@counterFlip]="numberValue()">{{ numberValue() }}</h1>
  <div class="button-wrapper">
    <button class="btn btn-icon btn-link btn-sm" type="button" (click)="increment()">
      <cds-icon shape="angle" status="success" size="36"></cds-icon>
    </button>
    <button class="btn btn-icon btn-link btn-sm" type="button" (click)="decrement()">
      <cds-icon shape="angle" direction="down" status="danger" size="36"></cds-icon>
    </button>
  </div>
</div>
