<div class="st-surface st-dialog-surface number-dialog" [stColor]="data.player.color">
	<st-score-entry-header class="dialog-header"
	                       [name]="data.player.name"
	                       [action]="data.action"></st-score-entry-header>
	<div class="st-dialog-content">
		<st-number-pad [value]="data.value ?? null" (enter)="confirm($event)"></st-number-pad>
	</div>
	<div class="st-dialog-actions">
		<button stButton status="player" type="button" class="dialog-button" (click)="cancel()">Cancel</button>
	</div>
</div>
