<div class="st-game-toolbar is-split">
  <span class="st-toolbar-label">Round {{gameService.currentRound()}}</span>
  <button matButton="outlined" type="button" class="new-game-button" (click)="newGame()">
    <fa-icon icon="plus"></fa-icon> New Game
  </button>
</div>

<div class="game-wrapper">
  @if (gameService.currentPlayer(); as player) {
    <st-player-score [player]="player" (score)="gameService.addScore($event)"/>
  }
</div>

<div class="chart-tabs-wrapper">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon icon="table-list"></fa-icon> Table
      </ng-template>
      <ng-template matTabContent>
        <st-per-round-score-table/>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon icon="chart-line"></fa-icon> Line
      </ng-template>
      <ng-template matTabContent>
        <st-per-round-score-line-chart/>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon icon="chart-bar"></fa-icon> Bar
      </ng-template>
      <ng-template matTabContent>
        <st-per-round-score-bar-chart/>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
