.game-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  st-player-score {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.score-wrapper {
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
}

.chart-tabs-wrapper {
  margin: 1rem;
}

